/* Default styles */
.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/header_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    padding: 50px;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .header.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .header h1 {
    font-size: 3.75rem; /* 60px */
    font-weight: 600;
    margin: 0;
  }
  
  .header p {
    padding: 20px 0;
    font-size: 1rem; /* 16px */
    max-width: 600px;
  }
  
  .header button {
    background-color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .header {
      padding: 20px;
      text-align: center;
      align-items: center;
    }
  
    .header h1 {
      font-size: 2.5rem; /* 40px */
    }
  
    .header p {
      font-size: 0.875rem; /* 14px */
      width: 100%;
    }
  
    .header button {
      width: 100%;
      padding: 15px 0;
    }
  }
  