.foodList-container {
  /* Your existing styles */
}

.foodList-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.foodList-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.foodList-item:hover {
  transform: translateY(-5px);
}

.foodList-item img {
  max-width: 100%;
  border-radius: 8px;
}

.foodList-item .addIcon {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */

  cursor: pointer;
}

.foodList-item h3 {
  font-size: 18px;
  margin-top: 10px;
}

.foodList-item p {
  font-size: 14px;
  color: #666;
}

.foodList-item span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
